<div class="intoro">
<h5>診断結果</h5>
<p>あなたにおすすめのサウナは....</p>
</div>
<div class="hot-container">
<div class="hot">
    <% if @hot.question == "1111" %>
    <h6>プライベートサウナ・川サウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "1112" %>
    <h6>フィンランドサウナ・プライベートサウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "1121" %>
    <h6>ケロサウナ・ロッキーサウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "1122" %>
    <h6>フィンランドサウナ・遠赤外線サウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "1211" %>
    <h6>塩サウナ・ミストサウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "1212" %>
    <h6>遠赤外線サウナ・プライベートサウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "1221" %>
    <h6>ミストサウナ・薬草サウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "1222" %>
    <h6>塩サウナ・ミストサウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "2111" %>
    <h6>ドライサウナ・川サウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "2112" %>
    <h6>ドライサウナ・プライベートサウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "2121" %>
    <h6>ドライサウナ・ロッキーサウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "2122" %>
    <h6>ドライサウナ・フィンランドサウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "2211" %>
    <h6>塩サウナ・プライベートサウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "2212" %>
    <h6>スチームサウナ・川サウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "2221" %>
    <h6>スチームサウナ・薬草サウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% elsif @hot.question == "2222" %>
    <h6>スチームサウナ・塩サウナ</h6>
    <p>例えば....</p>
    <p>おすすめ</p>

    <% end %>

</div>

<%= link_to "一覧ページ",  posts_path %>
